@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/*--------------------*/
.ibg {
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body {
  font-family: "Lato";
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
     -moz-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 35px;
}
.header__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 3;
    right: 10px;
    top: 18px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000000;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background: #000000;
    top: 9px;
    left: 0;
    width: 100%;
    height: 3px;
  }
  .header__burger:before, .header__burger:after, .header__burger span {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before, .header__burger.active:after, .header__burger.active span {
    background-color: #ffffff;
  }
  .header__menu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #474747;
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    transition: 0.4s linear;
    overflow: auto;
  }
  .header__menu.active {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: auto;
  }
}
.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.menu__list li {
  padding: 0 37.5px;
  position: relative;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(2)::after {
  display: none;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__list li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  right: 0;
  margin: -1.2px 0 0 0;
}
.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0 0 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:nth-child(2)::after {
    display: block;
  }
  .menu__list li:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    top: 40px;
    left: 50%;
    margin: -2px 0 0 0;
  }
  .menu__link {
    color: white;
    font-size: 20px;
  }
}

.generation {
  background-color: #f7f7f7;
  padding: 120px 0;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 33px 0;
}
.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0 0 18px 0;
  line-height: 24px;
}
.block__text {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}
.block__text_justify {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_justify::after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
}
@media (max-width: 1500px) {
  .block__text_justify::after {
    margin: 15px auto 0 auto;
  }
}

.brands_reverse .brands__column {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.brands_reverse .brands__column_big {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.brands__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.brands__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.brands__column_big {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 66.667%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid white;
  z-index: 1;
}
.brands__image {
  padding: 0 0 37.51% 0;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1105px) {
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}
.item__logo {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-color: rgba(109, 174, 148, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.item__logo span {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  color: #ffffff;
  margin: 10px 0 0 0;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1105px) {
  .item {
    padding: 0 0 70% 0;
  }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  background: #f7f7f7;
  padding: 120px 0 60px 0;
  position: relative;
}
@media (max-width: 767px) {
  .slider {
    padding: 60px 0 30px 0;
  }
}
.slider__item {
  text-align: center;
}
.slider__icon {
  margin: 0 0 35px 0;
}
.slider__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 700;
  color: #353738;
}
.slider__title span {
  color: #848789;
  font-weight: 300;
  letter-spacing: 1.8px;
}
.slider__text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}
.slider .slick-arrow.slick-prev {
  left: 0;
}
.slider .slick-arrow.slick-next {
  right: 0;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 0 0;
}
@media (max-width: 767px) {
  .slider .slick-dots {
    padding: 50px 0 0 0;
  }
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots li:last-child button {
  margin: 0;
}
.slider .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  background-color: transparent;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin: 0 9px 0 0;
}
.slider .slick-dots .slick-active button {
  background-color: #a9afb3;
}

.shop__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.shop__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 16.666%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}
.shop__column_big {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.shop__footer {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center;
}
.shop__btn {
  display: inline-block;
  line-height: 48px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  color: white;
  padding: 0 60px;
}
@media (max-width: 1100px) {
  .shop__body {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .shop__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .shop__column:first-child, .shop__column:last-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
       -moz-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .shop__footer {
    padding: 5px 0;
  }
  .shop__btn {
    padding: 0 30px;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.block-shop__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block-shop__item {
  padding: 0 0 50% 0;
  height: auto;
}
.block-shop__item_big {
  padding: 0 0 200.5% 0;
}
.block-shop__item_small {
  padding: 0 0 100% 0;
}

.subscribe__body {
  padding: 110px 0;
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}
.subscribe__logo {
  margin: 0 0 39px 0;
}
.subscribe__label {
  font-size: 24px;
  font-style: italic;
  color: #848789;
  margin: 0 0 35px 0;
}
.subscribe__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}
.subscribe__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 8px 0 0;
}
.subscribe__input .input {
  width: 100%;
  height: 69px;
  border: solid 1px #d3d7d9;
  background-color: #ffffff;
  padding: 0 28px;
  font-size: 20px;
  font-style: italic;
  color: #929292;
}
.subscribe__input .input.error {
  border: 1px solid orangered;
}
.subscribe__button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 126px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 126px;
          flex: 0 0 126px;
}
.subscribe__btn {
  width: 100%;
  height: 69px;
  line-height: 69px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #64c29e;
}
@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
  .subscribe__input {
    padding: 0 0 8px 0;
  }
}

.footer {
  background: #f7f7f7;
}
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  padding: 100px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__address {
  font-size: 14px;
  line-height: 18px;
  color: #848789;
}
.footer__address p:first-child {
  font-weight: 700;
}
.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__dev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__social {
    margin: 15px 0;
  }
  .footer__address {
    padding: 0;
  }
}

.social__link {
  margin: 0 7.5px;
}

.dev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dev__text {
  color: #848789;
  font-style: italic;
  font-size: 14px;
  padding: 0 9px 0 0;
}